{% extends 'base.html.twig' %}

{% block title %}Console index{% endblock %}

{% block body %}
    <h1>Liste des consoles</h1>

    <a class="btn btn-primary mt-3 mb-3" href="{{ path('app_console_new') }}">Ajouter une console</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for console in consoles %}
            <tr>
                <td>{{ console.id }}</td>
                <td>{{ console.name }}</td>
                <td>{{ console.brand }}</td>
                <td>{{ console.releaseDate ? console.releaseDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_console_show', {'id': console.id}) }}">show</a>
                    <a href="{{ path('app_console_edit', {'id': console.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger mt-3 mb-3" href="{{ path('app_video_games_index') }}">Voir jeux </a>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>

{% endblock %}
